
<h1> Attack successful </h1>
<h2> <%= @game.current_player.name %>'s hitpoints are now <%= @game.current_player.hitpoints %> </h2>

<form action="/play" method="get">
    <input type="submit" value="Dish out more pain!!!">
</form>
