<h1> <%= @player1 %> vs. <%= @player2 %>! Fight!!! </h1>

<h2>
  <form action="/play">
    <input type="submit" value="View player 2's HP"/>
  </form>

  <form action="/attack">
    <input type="submit" value="Attack"/>
  </form>
</h2>

<a href="/attack">Attack</a>

<ul>
  <li><%= @player2 %>: 20 HP</li>
  <li><%= @player1 %>: 20 HP</li>
</ul>
