<h1> <%= $player_1.name %> VS <%= $player_2.name %> successfully created </h1>
<h2> <%= $player_2.name %> now has <%= $player_2.hitpoints %> hitpoints</h2>

<form action="/attack_successful" method="get">
    <input type="submit" value="Attack!">
</form>
